<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Quiniela FastMag</title>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
  </head>
  <body>
    <div id="principal">
      <div class="contenedor"><a href="http://fast-mag.com" target="_blank" class="fast-mag"><img src="img/FMW.png"></a><a class="menuActivador"><img src="img/menuActivador.png"></a>
        <nav class="navegacionGeneral">
          <div id="menuItems"><a href="mispuntos.html" class="big">MIS PUNTOS</a><a href="micuenta.html" class="big">MI CUENTA</a><a href="#" class="big">CAMPEONES</a><a href="#">ACERCA DE</a><a href="#">FAQ</a><a href="#">TERMINOS</a><a href="#">CERRAR SESIÓN</a></div>
        </nav>
      </div>
    </div>
    <header>
      <div class="contenedor">
        <h1>PREDICCIÓN / <em>POLE POSITION</em></h1>
      </div>
    </header>
    <section id="contenido">
      <div class="contenedor flow-text">
        <!-- ESTO ES EL POLE POSITION-->
        <div id="polePosition">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, perspiciatis, voluptate temporibus quibusdam blanditiis asperiores cupiditate architecto, maxime quam adipisci incidunt.</p>
          <ul class="listaPilotos listaPilotosPole">
            <li data-idpiloto="1"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 1 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="2"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 2 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="3"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 3 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="4"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 4 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="5"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 5 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="6"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 6 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="7"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 7 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="8"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 8 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="9"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 9 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="10"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 10 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="11"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 11 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="12"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 12 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="13"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 13 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="14"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 14 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="15"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 15 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="16"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 16 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="17"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 17 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="18"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 18 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="19"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 19 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="20"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 20 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
          </ul>
          <div class="Navegador">
            <ul>
              <li><span class="Disable boton">ANTERIOR</span></li>
              <li><a href="#" class="siguiente boton boton--secundario">SIGUIENTE</a></li>
            </ul>
          </div>
        </div>
        <div id="vueltaRapida">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, perspiciatis, voluptate temporibus quibusdam blanditiis asperiores cupiditate architecto, maxime quam adipisci incidunt.</p>
          <ul class="listaPilotos listaPilotosVueltaRapida">
            <li data-idpiloto="1"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 1 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="2"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 2 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="3"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 3 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="4"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 4 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="5"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 5 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="6"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 6 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="7"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 7 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="8"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 8 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="9"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 9 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="10"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 10 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="11"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 11 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="12"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 12 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="13"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 13 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="14"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 14 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="15"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 15 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="16"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 16 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="17"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 17 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="18"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 18 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="19"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 19 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
            <li data-idpiloto="20"><img src="http://placehold.it/150x150" alt=""><span class="info">
                <h3>Número: 20 Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                <p>Nombre de la Escuderia</p></span></li>
          </ul>
          <div class="Navegador">
            <ul>
              <li><a href="#" class="anterior boton boton--secundario">ANTERIOR</a></li>
              <li><a href="#" class="siguiente boton boton--secundario">SIGUIENTE</a></li>
            </ul>
          </div>
        </div>
        <div id="TopTen">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, perspiciatis, voluptate temporibus quibusdam blanditiis asperiores cupiditate architecto, maxime quam adipisci incidunt.</p>
          <section>
            <ul class="listaPilotos listaPilotosTopTen">
              <li data-idpiloto="1"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 1; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="2"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 2; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="3"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 3; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="4"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 4; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="5"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 5; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="6"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 6; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="7"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 7; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="8"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 8; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="9"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 9; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="10"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 10; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="11"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 11; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="12"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 12; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="13"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 13; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="14"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 14; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="15"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 15; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="16"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 16; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="17"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 17; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="18"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 18; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="19"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 19; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="20"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 20; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
            </ul>
            <ul class="listaPilotos listaPilotosTopTenResultado">
              <li data-idpiloto="1"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 1; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="2"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 2; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="3"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 3; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="4"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 4; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="5"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 5; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="6"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 6; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="7"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 7; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="8"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 8; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="9"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 9; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li data-idpiloto="10"><img src="http://placehold.it/150x150" alt=""><span class="info">
                  <h3>Número: 10; Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
            </ul>
          </section>
          <div class="Navegador">
            <ul>
              <li><a href="#" class="anterior boton boton--secundario">ANTERIOR</a></li>
              <li id="topTenGuardar"><a href="#" class="siguiente boton boton--secundario">SIGUIENTE</a></li>
            </ul>
          </div>
        </div>
        <div id="VistaRapida">
          <div id="poleResultado">
            <h3>El Resultado</h3>
            <ul class="listaPilotos">
              <li><img src="http://placehold.it/150x150" alt=""><span class="info"> 
                  <h3>Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
            </ul>
          </div>
          <div id="vueltaResultado">
            <h3>El Resultado</h3>
            <ul class="listaPilotos">
              <li><img src="http://placehold.it/150x150" alt=""><span class="info"> 
                  <h3>Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
            </ul>
          </div>
          <div id="toptenResultado">
            <h3>El Resultado</h3>
            <ul class="listaPilotos">
              <li><img src="http://placehold.it/150x150" alt=""><span class="info"> 
                  <h3>Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li><img src="http://placehold.it/150x150" alt=""><span class="info"> 
                  <h3>Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
              <li><img src="http://placehold.it/150x150" alt=""><span class="info"> 
                  <h3>Nombre del Piloto demasiado largo para recordar y arto coqueto</h3>
                  <p>Nombre de la Escuderia</p></span></li>
            </ul>
          </div>
          <div class="Navegador">
            <ul>
              <li><a href="#" class="anterior boton boton--secundario">ANTERIOR</a></li>
              <li><a href="#" class="Guardar boton boton--general">GUARDAR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!--script(src="/bower_components/materialize/dist/js/materialize.min.js")-->
  <script src="js/quiniela.app.js"></script>
</html>
